html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  overflow: hidden;
}

#container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100%;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(96, 224, 96);
  height: 100%;
  padding: 40px;
  padding-top: 0px;
  justify-content: flex-start;
  
}

#highScore {
  top: 50px;
  padding: 5px 5px;
  position: relative;
  background-color: #fbc344;
  font-size: 20px;
  border: 2.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  left: 270px;
}

#highScore h5 {
  margin: 0;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbc344;
  border: 2px solid black;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  text-align: center;
  z-index: 1;
}

.dropdown-content.show {
  text-align: center;
  display: block;
  padding: 5px 5px;
}

#highScoresList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#highScoresList li {
  margin-bottom: 5px;
}

#highScoresList li span {
  display: inline-block;
  width: 60px;
}



#highScore h2 {
  margin: 0;
  padding: 0;
}

#game-container #gametitle {
  font-size: 50px;
  text-align: center;
}

#game-container h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}


#game-container #remainingAttempts {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 600px;
 }


.code-input {
  margin-top: 15px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.code-input input {
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  border: 3px solid black;
  border-radius: 7.5px;
}

.game #controlbtns {
  display: flex;
  justify-content: space-around;
  /* gap: 100px; */
  align-items: center;
  margin-top: 30px;
 
}

.game #controlbtns button {
  padding: 5px 10px;
  background-color: #fbc344;
  color: black;
  border: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 20px;
  align-items: center;
  border: 2.5px solid black;
  border-radius: 10px;
  font-weight: bold;
}

#guess-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 0px;
  margin-top: 20px;
  list-style-type: none;
}

#guessHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#guessHistory h2 {
  font-size: 20px;
  display: inline;
  margin: 0;
}

#guess-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: lightcyan;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

button:hover {
  background-color: rgb(211, 211, 0);
}


#game-container #reset {
  padding: 5px 10px;
  background-color: #fbc344;
  font-size: 20px;
  align-items: center;
  border: 2.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}



#hints-container {
  background-color: rgb(2, 73, 140);
  padding: 45px;
  height: 100%;
}

#hints-container {
  position: relative;
}

#hints-container #infobtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  background-color: rgb(2, 73, 140);
  border: none;
  width: auto;
  position: absolute;
  right: 20px;
  top: 50px;
  cursor: pointer;
}

#hints-container #infobtn img {
  width: 40px; 
}

#info-content {
  background-color: lightcyan;
  display: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 95px;
  width: 800px;
}
#info-content p img{
  width: 20px;
  height: 20px;
  margin: 2px;
  vertical-align: middle;
}

#info-content p{
  margin: 15px auto;
}

#info-content .infotitle, #info-content p strong{
  color: darkblue;
}





#hints-container .title {
  color: white;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

#hints-container .title img {
  height: 75px;
  width: auto;
  display: inline-block;
}

#hints-list {
  padding: 0;
  margin-top: 80px;
}

#hints-list li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 10px;
  gap: 25px;
}

#hints-list li img {
  width: 50px;
  height: 50px;
}

#hints-list li button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  background-color: #60e060;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  width: 200px;
}

#hints-list li button h3 {
  color: black;
}

#hints-list li button:hover {
  background-color: #40a345;
}


#hints-list li h3 {
  color: white;
  margin: 0;
  font-size: 17.5px;
}


#hints-list li .displayhint {
  width: 100px;
  color: white;
  font-size: 18px;
  text-align: center;
}

#hints-list li .attempts {
  margin-right: 10px;
  width: 107px;
  font-size: 17.5px;
  color: black;
  /* text-decoration: underline; */
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: #fbc344;

}

#hints-list input {
  width: 55px;
}
@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animate-congratulations {
  animation: wave 0.5s ease-in-out infinite;
  display: inline-block;
}

