html,body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    /* background: #1b263b; */
    position: relative;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: url('../assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    left: 300px;
    top: 50px;
}

.buttons button{
    background-color: #e0fbfc;
    border:7.5px solid rgb(1, 67, 129);
    border-radius: 20px;
}
.buttons img{
    height: 130px;
    width: auto;
    cursor: pointer;
    padding: 0;
}
.buttons label{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.result .end-buttons{
    display: flex;
    width: 100px;
    justify-content: space-between;
    bottom: 50px;
    gap: 25px;
    position: absolute;
}
.result #quit{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #000;
    padding: 10px;
    background-color: #e0fbfc;

    border:5px solid rgb(1, 67, 129);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}
.result #restart{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #000;
    padding: 10px;
    background-color: #e0fbfc;
    border:5px solid rgb(1, 67, 129);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}

.result #p-score{
    position: absolute;
    background-color: #e0fbfc;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 3px;
    top: 50px;
    left: 50px;
    font-family: 'Ubuntu', sans-serif;
    border:5px solid rgb(1, 67, 129);
    border-radius: 10px;
    display: inline-block;
}

.result #player-score{
    display: inline-block;
}
.result #comp-score{
    display: inline-block;
}

.result #c-score{
    position: absolute;
    background-color: #e0fbfc;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 3px;
    top: 50px;
    right: 50px;
    font-family: 'Ubuntu', sans-serif;
    border:5px solid rgb(1, 67, 129);
    border-radius: 10px;
}
#comp-chooses{
    background-color: #e0fbfc;
    border:7.5px solid rgb(1, 67, 129);
    border-radius: 20px;
    position: absolute;
    right: 50px;
    top: 150px;
    display: none;
}
#comp-chooses img{
    height: 140px;
    width: auto;
    cursor: pointer;
    padding: 0;
}
#comp-chooses label{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    display: block;
    font-size: 25px;
}

#final-result{
    color: white;
    font-size: 70px;
    text-align: center;
    left:600px;
    position: absolute;
}


#round-result{
    font-size: 35px;
    left:600px;
    position: absolute;
    color: white;
    
}

@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #final-result {
    font-size: 65px;
    text-align: center;
  }
  
  .wave-animation {
    animation-name: wave;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    color: greenyellow;
  }
  
